.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    vertical-align: center;
}

/*#btn {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    padding: 14px 28px;*/
/*    display: inline-block;*/
/*    margin: auto;*/
/*}*/

/* On mouse-over */
.btn:hover {
    background: #eee;
}

.success {
    color: green;
}

.info {
    color: dodgerblue;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.default {
    color: black;
}

#list-holder {
    position: absolute;
    left: 10px;
    top: 120px;
    z-index: 1;
    width: 32%;
    height: auto;
    min-height: 200px;
    max-height: 700px;
    background-color: rgba(255, 255, 255, 0.8);
    /*display: none;*/
    overflow-y: auto;
    border-radius: 11px;
    padding-bottom: 2%;
}

#layer-select {
    position: absolute;
    left: 20px;
    top: 90%;
    z-index: 1;
    /*width: 30%;*/
    /*min-height: 200px;*/
    /*max-height: 700px;*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*!*display: none;*!*/
    overflow-y: auto;
    border-radius: 11px;
}

.divider {
    width: 1px;
    height: 1px;
    display: inline-block;
}

#headerPopup {
    width: 75%;
    margin: 0 auto;
}

#headerPopup iframe {
    width: 100%;
    margin: 0 auto;
}

#list {
    margin-left: -40px;
}

#London {
    padding: 4%;
    border-radius: 11px;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

.measure-control {
    top: 65px;
    left: .5em;
}

.ol-touch .measure-control {
    top: 80px;
}


/*.ol-control button {*/
/*    background-color: #f8f8f8 !important;*/
/*    color: #000000 !important;*/
/*    border-radius: 0px !important;*/
/*}*/

.ol-compassctrl.bottom {
    top: auto;
    left: auto;
    bottom: 5%;
    right: 0;
    width: 75px;
    height: 75px;
    -webkit-transform: none;
    transform: none;
}

.ol-legend ul {
    margin-bottom: 7px;
}

.ol-legend ul li {
    overflow: visible;
    text-align: right;
}

.ol-control.ol-legend {
    bottom: 25%;
    max-height: fit-content;
    max-width: fit-content;

}

.ol-legend ul li.ol-title > div:last-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
    text-align: center;
}