<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
    <style>
        .map {
            height: 99%;
            width: 99%;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {#    <link rel="stylesheet" href="../static/images/main.css">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="https://unpkg.com/ol-layerswitcher@3.3.0"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <title>FlaskApp</title>
</head>
<body>

<div id="map" class="map"></div>
<select id="layer-select">
    <option value="normal.day" selected>Normal Day</option>
    <option value="normal.day.transit">Normal Day Transit</option>
    <option value="pedestrian.day">Pedestrian Day</option>
    <option value="terrain.day">Terrain Day</option>
    <option value="satellite.day">Satellite Day</option>
    <option value="hybrid.day">Hybrid Day</option>
</select>

{#<button onclick="getcoordinates()">Get Coordinates</button>#}
{#<button onclick="addInteraction()">Draw box to define workspace</button>#}

{#<form id="form">#}
{#    <input type="text" name="X" , id="xcoor">#}
{#    <input type="text" name="Y" , id="ycoor">#}
{#    <button id=calculate>Submit</button>#}
{#    <input type="text" name="area" , id="area">#}
{#    <input type="text" name="utm" , id="utm">#}
{#</form>#}

<div class="container box-shadow-light" id="list-holder" style="display: block;">
    <div class="row">
        <h3 id="list-header"></h3>
        <p id="description"></p>
    </div>
    <div class="row">
        <ul id="list" class="swing">
            <div class="content" style="max-height: 307px;">
                <div class="container">
                    <div class="row p-b-10">
                        <div class="col-md-6"><b>X Coordinate :</b>
                            <input id="xcor" type="number"
                                   class="form-control" disabled></div>
                        <div class="col-md-6"><b>Y Coordinate</b>
                            <input id="ycor" type="number"
                                   class="form-control" disabled></div>
                        <div class="col-md-6"><b>Area: (km<sup>2</sup>)</b>
                            <input id="Area" type="number"
                                   class="form-control" disabled></div>
                        <div class="col-md-6"><b>UTM Zone </b>
                            <input id="UTM" type="number"
                                   class="form-control" disabled></div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 p-b-10" id="coordinates" style="visibility: visible;">
            <button class="btn btn-primary btn-block" onclick="getcoordinates()">Get Coordinates <i
                    class="fas fa-project-diagram"></i></button>
        </div>
        <div class="col-md-12 col-lg-6 p-b-10" id="drawrec" style="visibility: visible;">
            <button class="btn btn-primary btn-block" onclick="addInteraction()">Draw box to define workspace <i
                    class="fas fa-project-diagram"></i></button>
        </div>
        <div class="col-md-12 col-lg-6 p-b-10" id="calculate" style="visibility: visible;">
            <button class="btn btn-primary btn-block">Submit <i class="fas fa-project-diagram"></i></button>
        </div>
    </div>
</div>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    {#import Map from 'ol/Map.js';#}
    {#import View from 'ol/View.js';#}
    {#import TileLayer from 'ol/layer/Tile.js';#}
    {#import XYZ from 'ol/source/XYZ.js';#}

    var appId = 'NlGDN7VmUR5CEjwlC2h2';
    var appCode = 'oWcExuiIq_UmB4EFUFVNJA';
    var hereLayers = [
        {
            base: 'base',
            type: 'maptile',
            scheme: 'normal.day',
            app_id: appId,
            app_code: appCode
        },
        {
            base: 'base',
            type: 'maptile',
            scheme: 'normal.day.transit',
            app_id: appId,
            app_code: appCode
        },
        {
            base: 'base',
            type: 'maptile',
            scheme: 'pedestrian.day',
            app_id: appId,
            app_code: appCode
        },
        {
            base: 'aerial',
            type: 'maptile',
            scheme: 'terrain.day',
            app_id: appId,
            app_code: appCode
        },
        {
            base: 'aerial',
            type: 'maptile',
            scheme: 'satellite.day',
            app_id: appId,
            app_code: appCode
        },
        {
            base: 'aerial',
            type: 'maptile',
            scheme: 'hybrid.day',
            app_id: appId,
            app_code: appCode
        }
    ];
   var urlTpl = 'https://{1-4}.{base}.maps.cit.api.here.com' +
        '/{type}/2.1/maptile/newest/{scheme}/{z}/{x}/{y}/256/png' +
        '?app_id={app_id}&app_code={app_code}';
    var layers = [];
    var i, ii;
    for (i = 0, ii = hereLayers.length; i < ii; ++i) {
        var layerDesc = hereLayers[i];
        layers.push(new ol.layer.Tile({
            visible: false,
            preload: Infinity,
            source: new ol.source.XYZ({
                url: createUrl(urlTpl, layerDesc),
                attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
                    '<a href="http://developer.here.com">HERE</a>'
            })
        }));
    }

    var map = new ol.Map({
        layers: layers,
        // Improve user experience by loading tiles while dragging/zooming. Will make
        // zooming choppy on mobile or slow devices.
        loadTilesWhileInteracting: true,
        target: 'map',
        view: new ol.View({
            center: ol.proj.fromLonLat([34.42, 39.42]),
            zoom: 6
        })
    });

    function createUrl(tpl, layerDesc) {
        return tpl
            .replace('{base}', layerDesc.base)
            .replace('{type}', layerDesc.type)
            .replace('{scheme}', layerDesc.scheme)
            .replace('{app_id}', layerDesc.app_id)
            .replace('{app_code}', layerDesc.app_code);
    }

    var select = document.getElementById('layer-select');

    function onChange() {
        var scheme = select.value;
        for (var i = 0, ii = layers.length; i < ii; ++i) {
            layers[i].setVisible(hereLayers[i].scheme === scheme);
        }
    }

    select.addEventListener('change', onChange);
    onChange();

</script>

<script type=text/javascript>
    $(function () {
        $('#calculate').bind('click', function () {
            $.getJSON($SCRIPT_ROOT + '/process', {
                X: $("#xcor").val(),
                Y: $("#ycor").val()
            }, function (data) {
                {#$("#area").text(data.Area);#}
                $("#Area").val(data.Area);
                $("#UTM").val(data.UTM);

                var routeJSON = data.Branch;

                var format = new ol.format.GeoJSON({
                    featureProjection: "EPSG:3857"
                });

                var vectorSource = new ol.source.Vector({
                    features: format.readFeatures(routeJSON)
                });

                var vectorLayer = new ol.layer.Vector({
                    source: vectorSource,
                    style: new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: 'red',
                            width: 3
                        })
                    })
                });

                map.addLayer(vectorLayer);

                var routeJSON = data.Polygon;

                var format = new ol.format.GeoJSON({
                    featureProjection: "EPSG:3857"
                });

                var vectorSource = new ol.source.Vector({
                    features: format.readFeatures(routeJSON)
                });

                var vectorLayer = new ol.layer.Vector({
                    source: vectorSource,
                    style: new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: 'blue',
                            width: 3
                        })
                    })
                });

                map.addLayer(vectorLayer);


                var ext = vectorSource.getExtent();
                {#ext = ol.proj.transformExtent(vectorSource.getExtent(), 'EPSG:3857', 'EPSG:4326');#}
                {#ext = ol.proj.transformExtent(vectorSource.getExtent(), 'EPSG:3857', 'EPSG:4326');#}
                map.getView().fit(ext, map.getSize());

            });
            return false;
        });
    });
</script>

<div id="map" class="map">
</div>

{#<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script type="text/javascript" src="{{ url_for('static' , filename ='testmap2.js') }}"></script>
</html>